@use '../../shared/styles/placeholders' as *;
@use '../../shared/styles/variables' as *;

.not-found-page {
  @extend %flex-center-column;
  gap: $spacing-lg;

  &__code {
    font-size: $font-size-4xl;
    opacity: $opacity-xs;
  }

  &__title {
    @extend %title-text;
  }

  &__text {
    @extend %text;
  }

  &__back {
    @extend %button-back;
  }
}
