@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/placeholders' as *;

.refresh-button {
  font-size: $font-size-sm;
  font-weight: $font-weight-extrabold;
  letter-spacing: $letter-spacing-lg;
  text-transform: uppercase;
  background: $color-amber;
  color: $color-bg;
  align-self: flex-end;
  padding: $padding-sm;
  transition:
    background $transition-fast,
    transform $transition-fast;

  &:hover {
    background: $color-amber-dim;
  }
}
