@use '@shared/styles/variables' as *;
@use '@shared/styles/normalize';
@use '@shared/styles/theme-light';
@use '@shared/styles/placeholders';
@use '@shared/styles/globals';

html,
body {
  margin: 0;
  padding: 0;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-layout {
  &__body {
    margin: 0 3vw;
    display: flex;
    flex: 1;

    &--split {
      .main-layout__results {
        cursor: pointer;
      }
    }
  }

  &__results {
    flex: 1;
    min-width: 0;
  }
}
