@use '../../../../shared/styles/variables' as *;

.results-table {
  width: 100%;

  &__head tr {
    border-bottom: $border-amber;
  }

  &__th {
    text-align: left;
    padding: $padding-base;
    font-size: $font-size-xs;
    letter-spacing: $letter-spacing-lg;
    text-transform: uppercase;
    color: $color-amber;
    font-weight: $font-weight-medium;
  }
}
