@use '../../../styles/variables' as *;
@use '../../../styles/placeholders' as *;

.close-button {
  @extend %flex-row-center;
  background: none;
  border: none;
  color: $color-text-dim;
  font-size: $font-size-md;
  cursor: pointer;
  padding: $padding-xs;
  border-radius: $radius-sm;
  transition:
    color $transition-fast,
    background $transition-fast;
  width: $size-page-btn;
  height: $size-page-btn;

  &:hover {
    color: $color-text-bright;
    background: $color-border;
  }
}
