@use '../../shared/styles/variables' as *;

.pagination {
  display: flex;
  flex-direction: column;
  border-top: $border-base;
  border-bottom: $border-base;

  &__info {
    padding: $padding-2xl;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: $border-base;
    gap: $spacing-md;
    font-size: $font-size-sm;
    color: $color-text-dim;
  }

  &__count {
    text-transform: uppercase;
    letter-spacing: $letter-spacing-sm;
  }

  &__divider {
    color: $color-border-bright;
  }

  &__pages {
    font-weight: $font-weight-medium;
  }

  &__controls {
    padding: $padding-2xl;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-md;
  }

  &__numbers {
    display: flex;
    gap: $spacing-xs;
  }
}
