@use '../../shared/styles/variables' as *;
@use '../../shared/styles/placeholders' as *;

.about-page {
  padding: $padding-7xl;

  &__wrapper {
    max-width: $max-width-lg;
  }

  &__title {
  @extend %title-text;
  }

  &__section {
    margin-bottom: $spacing-xl;
  }

  &__subtitle {
  @extend %subtitle-text;
  }

  &__text {
    @extend %text;
  }

  &__link {
    color: inherit;
    opacity: $opacity-md;

    &:hover {
      opacity: $opacity-lg;
    }
  }

  &__back {
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    opacity: $opacity-md;
    border: $border-bright;
    padding: $padding-base;

    &:hover {
      opacity: $opacity-lg;
    }
  }
}