@use '../../shared/styles/variables' as *;
@use '../../shared/styles/placeholders' as *;

.results-section {
  flex: 1;
  padding: $padding-xl;

  &__error {
    border: $border-red;
    background: rgba($color-red, 0.05);
    padding: $padding-5xl;
    display: flex;
    gap: $spacing-md;
    align-items: flex-start;
  }

  &__error-icon {
    color: $color-red;
    font-size: $font-size-xl;
    flex-shrink: 0;
  }

  &__error-title {
    color: $color-red;
    font-size: $font-size-base;
    font-weight: $font-weight-extrabold;
    margin-bottom: $margin-sm;
  }

  &__error-msg {
    color: $color-text;
    font-size: $font-size-sm;
    line-height: $line-height-lg;
  }
}

.results__wrapper {
  gap: 1rem;
  @extend %flex-center-column;
}
